:root {
  --input-border: #8b8a8b;
  --input-focus-h: 245;
  --input-focus-s: 100%;
  --input-focus-l: 42%;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.heading-primary {
  text-align: center;
  padding: 16px;
  background-color: #eaeff2;
}

.root-container {
  display: flex;
  height: 90.5vh;
}

.contact_management-sidebar {
  width: 150px;
  max-height: 100%;
  background-color: #eaeff2;
}
.nav-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.nav-links > a {
  height: 50px;
  margin: 10px;
}

.contact_management-body {
  flex: 2;
  overflow-y: auto;
}
.contact_management-home {
  text-align: center;
  margin: 60px auto;
  font-size: 40px;
  color: #ff3d33;
}
.No-Contact_Info {
  text-align: center;
  margin: 60px auto;
  font-size: 20px;
}

.inbox-container {
  margin: 30px;
}

.inbox-container > .fieldset-box {
  border: 1px solid black;
  padding: 12px;
  display: flex;
  gap: 12px;
}
.inbox-container > .fieldset-box > legend {
  color: #ff3d33;
  font-size: 18px;
}
.fieldset-box > label {
  padding: 6px;
  font-size: 18px;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfdff;
  width: 343px;
  margin: auto;
  padding: 16px;
  box-shadow: 0.5px 0.5px 3px 0px rgb(159 156 156 / 75%);
}

.input-label {
  padding: 16px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}
.radio-label {
  display: flex;
  justify-content: center;
  gap: 12px;
  font-size: 18px;
}
.primary-btn {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  background-color: #ff3d33;
  color: white;
  padding: 0 20px;
}
.secondary-btn {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
  height: 30px;
  color: black;
  padding: 0 20px;
}
.secondary-btn:hover {
  background-color: #ff3d33;
  color: white;
}
.contact-card {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfdff;
  width: 343px;
  margin: auto;
  padding: 16px;
  box-shadow: 0.5px 0.5px 3px 0px rgb(159 156 156 / 75%);
}
.card p {
  padding: 8px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.btn-container {
  display: flex;
  gap: 12px;
  justify-content: space-evenly;
}
.heading {
  text-align: center;
  padding: 14px;
}

.another-btn-container {
  text-align: center;
}
.another-btn-container button {
  margin-top: 26px;
}
.Dashboard-container {
  padding: 20px;
}
@media all and (max-width: 480px) {
  .root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .contact_management-sidebar {
    width: 100%;
    background-color: #eaeff2;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
  }
  .nav-links > a {
    height: 40px;
    margin: 10px;
    border: none !important;
  }
  .contact_management-home {
    font-size: xx-large;
  }
  .heading-primary,
  .heading {
    font-size: x-large;
  }
}

@media all and (max-width: 375px) {
  .root-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .contact_management-sidebar {
    width: 100%;
    background-color: #eaeff2;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;
  }
  .nav-links > a {
    height: 50px;
    margin: 10px;
    border: none !important;
  }
}

@media all and (max-width: 375px) {
  .input-form,
  .card {
    width: 300px;
  }
}
